<div class="artists-grid">

  <div class="artist-card">
    <div class="artist-image-wrapper">
      <img src="https://cdn-images.dzcdn.net/images/cover/d74c7c110c0a6d0f3e1cd6b7bfac8ed6/0x1900-000000-80-0-0.jpg" alt="Olivia Rodrigo">
      <div class="artist-overlay">
        <button class="play-button">▶</button>
      </div>
    </div>
    <div class="artist-info">
      <h3>Olivia Rodrigo</h3>
      <p>Pop</p>
    </div>
  </div>

  <div class="artist-card">
    <div class="artist-image-wrapper">
      <img src="https://i.scdn.co/image/ab67616d0000b273fd8d7a8d96871e791cb1f626" alt="Sabrina Carpenter">
      <div class="artist-overlay">
        <button class="play-button">▶</button>
      </div>
    </div>
    <div class="artist-info">
      <h3>Sabrina Carpenter</h3>
      <p>Pop</p>
    </div>
  </div>

  <div class="artist-card">
    <div class="artist-image-wrapper">
      <img src="https://i.scdn.co/image/ab67616d0000b273e787cffec20aa2a396a61647" alt="Taylor Swift">
      <div class="artist-overlay">
        <button class="play-button">▶</button>
      </div>
    </div>
    <div class="artist-info">
      <h3>Taylor Swift</h3>
      <p>Pop/Country</p>
    </div>
  </div>

  <div class="artist-card">
    <div class="artist-image-wrapper">
      <img src="https://upload.wikimedia.org/wikipedia/en/a/a0/Ariana_Grande_-_Positions.png" alt="Ariana Grande">
      <div class="artist-overlay">
        <button class="play-button">▶</button>
      </div>
    </div>
    <div class="artist-info">
      <h3>Ariana Grande</h3>
      <p>Pop/R&B</p>
    </div>
  </div>

  <div class="artist-card">
    <div class="artist-image-wrapper">
      <img src="https://media.pitchfork.com/photos/641c76f8717af22dc39c1ea2/master/pass/Lana-Del-Rey.jpg" alt="Lana Del Rey">
      <div class="artist-overlay">
        <button class="play-button">▶</button>
      </div>
    </div>
    <div class="artist-info">
      <h3>Lana Del Rey</h3>
      <p>Alternative/Pop</p>
    </div>
  </div>

</div>