<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <span class="brand-icon">🎵</span>
      <h1>Med-Music</h1>
    </div>
    <ul class="nav-menu">
      <li><a routerLink="/" class="nav-link">Inicio</a></li>
      <li><a routerLink="/artistas" class="nav-link">Artistas</a></li>
      <li><a routerLink="/albumes" class="nav-link">Álbumes</a></li>
      <li><a routerLink="/contacto" class="nav-link">Contacto</a></li>
    </ul>
  </div>
</nav>

<main class="app-main">
  <router-outlet></router-outlet>
</main>

