<div class="album-card">
  <div class="album-cover-wrapper">
    <img src="https://upload.wikimedia.org/wikipedia/en/a/a0/Ariana_Grande_-_Positions.png" alt="Eternal Sunshine">
    <div class="album-overlay">
      <button class="play-btn">▶</button>
    </div>
  </div>
  <div class="album-details">
    <h3>Eternal Sunshine</h3>
    <p class="artist-name">Ariana Grande</p>
    <p class="year">2024</p>
  </div>
</div>

<div class="album-card">
  <div class="album-cover-wrapper">
    <img src="https://i.scdn.co/image/ab67616d0000b273e787cffec20aa2a396a61647" alt="The Tortured Poets Department">
    <div class="album-overlay">
      <button class="play-btn">▶</button>
    </div>
  </div>
  <div class="album-details">
    <h3>The Tortured Poets Department</h3>
    <p class="artist-name">Taylor Swift</p>
    <p class="year">2024</p>
  </div>
</div>

<div class="album-card">
  <div class="album-cover-wrapper">
    <img src="https://i.scdn.co/image/ab67616d0000b273fd8d7a8d96871e791cb1f626" alt="Short n' Sweet">
    <div class="album-overlay">
      <button class="play-btn">▶</button>
    </div>
  </div>
  <div class="album-details">
    <h3>Short n' Sweet</h3>
    <p class="artist-name">Sabrina Carpenter</p>
    <p class="year">2024</p>
  </div>
</div>

<div class="album-card">
  <div class="album-cover-wrapper">
    <img src="https://cdn-images.dzcdn.net/images/cover/d74c7c110c0a6d0f3e1cd6b7bfac8ed6/0x1900-000000-80-0-0.jpg" alt="GUTS">
    <div class="album-overlay">
      <button class="play-btn">▶</button>
    </div>
  </div>
  <div class="album-details">
    <h3>GUTS</h3>
    <p class="artist-name">Olivia Rodrigo</p>
    <p class="year">2023</p>
  </div>
</div>

<div class="album-card">
  <div class="album-cover-wrapper">
    <img src="https://media.pitchfork.com/photos/641c76f8717af22dc39c1ea2/master/pass/Lana-Del-Rey.jpg" alt="Did You Know That There's a Tunnel Under Ocean Blvd">
    <div class="album-overlay">
      <button class="play-btn">▶</button>
    </div>
  </div>
  <div class="album-details">
    <h3>Ocean Blvd</h3>
    <p class="artist-name">Lana Del Rey</p>
    <p class="year">2023</p>
  </div>
</div>